[submodule "src/submodules/NetCore.Common"]
	path = src/submodules/NetCore.Common
	url = https://github.com/Rn-CodeBasement/CodeBasement.NetCore.Common.git
[submodule "src/submodules/NetCore.Metrics"]
	path = src/submodules/NetCore.Metrics
	url = https://github.com/Rn-CodeBasement/CodeBasement.NetCore.Metrics.git
